<html>

<head>
    <title>Student Management</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="studentMgt.css">
    <script src="stuManagement.js"></script> -->

</head>

<body >

    <div class="container">
        <form>
            <div id=wrapper>
<header class="header">
                <!-- <div class="header"> -->
                    <h3>Welcome to Student Information Management System</h3>
                        </header>
                <!-- </div> -->

                <nav class="topNav">
                    <div class="col-lg-2" ><span id="welcome">Welcome </span></div>
                    <div class="col-lg-2">
                        <a routerLink="/home"><span>Home </span></a>
                    </div>
                    <div class="col-lg-2">
                        <a routerLink="/viewStudentInfo"><span>View Profile</span></a>
                    </div>
                    <div class="col-lg-2">
                        <a routerLink="/editStudentInfo"><span>Edit Profile</span></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#"><span>Change Password</span></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#"><span>Logout</span></a>
                    </div>
                </nav>

                <div class="content">
                    <table class="table table-striped">
                        <div class="row">
                            <div class="col-lg-6"><span></span></div>
                        </div>
                    </table>
                </div>
<footer class="footer"></footer>
                <!-- <div class="footer">

                </div> -->

            </div>
        </form>
    </div>

</body>

</html>