<html>

<head>
    <title>Student Registration</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="studentMgt.css"> -->
    <!-- <script src="studentMgmt.js"></script> -->
    <!-- <script src="stuManagement.js"></script> -->
</head>

<body>
    <div class="container">
        <form >
            <header class="header">
                <h3>Welcome to Student Information Management System</h3>
            </header>
            <nav class="topNav">
                <div class="col-lg-4">
                    <a href="/home"><span>Home </span></a>
                </div>
                
                <div class="col-lg-2">
                    <a href="#"><span>Change Password</span></a>
                </div>
                <div class="col-lg-2">
                    <a href="#"><span>Logout</span></a>
                </div>
            </nav>
            <div class="content">
                <table class="table table-striped" style="text-align:center">
                    <tr class="row">
                        <td>
                            <span>First Name:</span>
                        </td>
                        <td><input type="text" id="fname" class="field" required></td>
                        <td><span>Last Name:</span></td>
                        <td><input type="text" id="lname" class="field"></td>
                    </tr>
                    <tr class="row">
                        <td><span>Gender:</span></td>
                        <td><input class="field" type="radio" name="gender" value="Male"><span>Male</span>
                            <input class="field" type="radio" name="gender" value="Female"> <span>Female</span></td>
                        <td><span>Date Of Birth</span></td>
                        <td><input class="field" type="date" class="Date" id="dob" required></td>
                    </tr>
                    <tr class="row">

                        <td><span>Qualification:</span></td>
                        <td><select id="qual" class="field">
                            <option>Select</option>
                                <option>Graduate</option>
                                <option>Masters</option>
                            </select></td>
                        <td><span>Contact Number</span></td>
                        <td><input type="txt" id="ctNo" class="field"></td>
                    </tr>
                    <tr class="row">
                        <td><span>City</span></td>
                        <td><input type="text" id="city" class="field"></td>

                    </tr>
                    <tr class="row">
                        <td><span>Primary Email</span></td>
                        <td><input type="email" id="pemail" class="field" required></td>
                        <td><span>Secondary Email</span></td>
                        <td><input type="email" id="semail" class="field"></td>
                    </tr>
                    <tr class="row">
                        <td><span>Address</span></td>
                        <td><input type="text" id="address" class="field" minlength="10" maxlength="50" required></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="row">
                        <td><span>Description</span></td>
                        <td><input type="text" id="desc" class="field" minlength="10" maxlength="50"></td>
                    </tr>
                    <tr class="row">
                        <td></td>
                        <td >
                            <h4 class="text-center">Login Information</h4>
                        </td>
                    </tr>
                    <tr class="row">
                        <td><span>Desired ID:</span></td>
                        <td><input type="text" class="field" id="desId"></td>

                    </tr>
                    <tr class="row">
                        <td><span>Password:</span></td>
                        <td><input type="password" id="pwd" class="field">
                        </td>
                        <td><span>Retype Password</span></td>
                        <td><input type="password" id="rpwd" class="field"></td>
                    </tr>
                    <tr class="row">
                        <td></td>
                        <td>
                            <h4 class="text-center">Resume Information</h4>
                        </td>
                    </tr>
                    <tr class="row">
                        <td><span>Upload Resume</span></td>
                        <td>
                            <input type="file" class="field" id="rid" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" >
                        </td>
                    </tr>
                    <tr class="row">
                        <td></td>
                        <td>
                            <h4 class="text-center">Image Information</h4>
                        </td>

                    </tr>
                    <tr class="row">
                        <td><span>Upload Image</span></td>
                        <td>
                            <input type="file" class="field" id="Imid" accept="image/gif">
                            <!-- <img src="test.gif" id="Imid" alt='rabbit ' height="50px" width="50px"/> -->
                                                    </td>
                        <td></td>
                        <td></td>
                    </tr>


                    <tr class="row">
                        <td></td>
                        <td>
                            <div class="btn-group">
                                <input type="submit" id="regId" value="Register" routerLink="/studentHome" >
                                <input type="reset" id="resId" value="Reset">
                                <input type="button" id="cId" value="Close">
                            </div>
                        </td>


                    </tr>



                </table>
                <footer ></footer>
                <!-- <div class="footer"></div> -->
            </div>
        </form>
    </div>
</body>

</html>
<router-outlet></router-outlet>