html,body{
    padding:0;
    margin:0;
    height:100%;
    background-color:lightgray;

}
#wrapper{
    min-height:96%;
    position:relative;
} 

#editHead{
    background-color: darkolivegreen;
    text-align : center; 
    font-style: oblique;
}
.header{
    background-color: darkgreen;
    padding: 2px;
    text-align: center;
    height:58px;
}
.topNav{
    text-align: center;
    padding: 14px 16px;
}
.footer{
    background-color:  darkgreen;
    text-align: center;
    padding: 2px; 
     position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 18px;
    margin-right: auto;
    
}
a:link{
    color:green;
    font-style: oblique;
}
a:hovehr{
    background-color: black;
    color:green;
}

p{
    background: green;
}

table 
{
    width: 50%;
    font: 17px Calibri;
}
table, thead,th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
h3{
    font-style: oblique;
    text-align:center;
}
.container{
    min-height: 100%;
}