<html>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="studentMgt.css"> -->
</head>

<body>
    <div class="container">
        <form >
            <div class="header">
                <h3>Welcome to Student Information Management System</h3>
            </div>
            <div class="topNav">
                <div class="col-lg-6">
                    <a routerLink="/home"><span>Home </span></a>
                </div>
                <div class="col-lg-3">
                    <a routerLink="/studentReg"><span>New Student Click Here</span></a>
                </div>
            </div>
            <div class="content">
                <table class="table table-striped">
                    <tr class="row">
                        <td><h4> Student Login Here</h4></td>
                    </tr>
                    <tr>
                        <td><span>Login Id:</span></td>
                        <td><input (input)="Student.id= $event.target.value" type="text" id="loginId"></td>
                    </tr>
                    <tr>
                        <td><span>Password</span></td>
                        <td><input type="password" id="pwd"></td>
                    </tr>
                    <tr>
                        <td> <div class="btn-group">
                                <button (click)= "login()" routerLink="/studentHome">Login</button>
                                <input type="button" value="Close">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>

    </div>
</body>

</html>